<!doctype html>
<html>
<head><title>Добавить объект</title></head>
<body>
  <h1>Добавление объекта</h1>

  <form method="post">
    <label>Тип объекта:</label>
    <select name="type">
      <option value="1">Студент</option>
      <option value="2">Староста</option>
      <option value="3">Служащий</option>
    </select><br><br>

    <label>Имя:</label> <input type="text" name="name"><br>
    <label>Возраст:</label> <input type="number" name="age"><br>
    <label>Группа:</label> <input type="text" name="group"><br>

    <button type="submit">Сохранить</button>
  </form>

  <a href="{{ url_for('index') }}">Назад</a>
</body>
</html>